body {
  background-image: url(https://img.freepik.com/premium-photo/clouds-are-sky-with-bright-sun-background-generative-ai_899870-31098.jpg?w=2000);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
h1 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
}
h2 {
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}
.search,
.button {
  font-family: "Shadows Into Light", cursive;
  position: relative;
  top: 20px;
  left: 20px;
}
.button {
  border-radius: 10px;
  color: blue;
}
.conditions {
  font-size: 15px;
  opacity: 0.7;
  font-family: "Shadows Into Light", cursive;
}
.days {
  font-size: 15px;
  font-family: "Shadows Into Light", cursive;
}
.sun {
  font-size: 50px;
}
.cloudy {
  font-size: 50px;
}
.sun {
  font-size: 50px;
}
.rain {
  font-size: 50px;
}
.wind {
  font-size: 50px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-day {
  font-size: 20px;
  font-family: "Shadows Into Light", cursive;
}

.temperature-min {
  opacity: 0.5;
}

.temperatures {
  font-size: 18px;
}
.units {
  font-family: "Shadows Into Light", cursive;
  font-size: 10px;
  position: relative;
  bottom: 15px;
  right: 9px;
}

footer {
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 12px;
  font-family: "Shadows Into Light", cursive;
}
.celsius-symbol,
.fahrenheit-symbol {
  text-decoration: none;
}
